@layer base {
  .bounce-x {
    animation-name: bounce-x;
  }
  .bounce-x_after:after {
    animation-name: bounce-x;
  }

  @keyframes bounce-x {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(var(--animation-width, 1rem));
    }
    100% {
      transform: translateX(0);
    }
  }

  .blink-white {
    animation-name: blink-white;
  }

  .blink-7 {
    animation-name: blink-7;
  }

  .blink-white-predefined {
    animation: blink-white 3s steps(1) infinite;
  }

  .blink-7-predefined {
    animation: blink-7 3s steps(1) infinite;
  }

  @keyframes blink-white {
    50% {
      color: var(--color-white);
    }
  }

  @keyframes blink-7 {
    50% {
      color: var(--color-7);
    }
  }
}
