@layer layout {
  .wrapper {
    --border-radius: 48px;
    box-sizing: border-box;
    width: 747px;
    height: 226px;
    padding: 12px;
    border-radius: var(--border-radius);
    background-color: var(--color-bg);

    & .container {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      background-color: var(--color-7);
      display: grid;
      grid-template-columns: 74px 94px auto 94px 74px;
      grid-template-rows: 24px 26px 32px 32px 51px 24px;
      grid-template-areas:
        '. . top-panel . .'
        '. content content content .'
        'short content content content exit'
        'long content content content .'
        '. content content content .'
        '. . bottom-panel . .';

      & .content {
        grid-area: content;
        background-color: var(--color-bg);
        width: 100%;
        height: 100%;
        border-radius: calc(var(--border-radius) / 3);
        text-align: center;
      }

      & .top-panel {
        grid-area: top-panel;
        background-color: var(--color-bg);
        padding: 0 4px;
        display: flex;
        gap: 4px;
        /* grid-template-columns: 103px 24px 64px 64px 24px 80px; */
        /* grid-template-areas: 'pause t-filler-1 t-animated pin t-filler-2 minimize'; */
      }

      & .bottom-panel {
        grid-area: bottom-panel;
        background-color: var(--color-bg);
        padding: 0 4px;
        display: flex;
        gap: 4px;
        /* grid-template-columns: 103px 24px 64px 64px 24px 80px; */
        /* grid-template-areas: 'b-filler-1 b-animated . b-filler-2'; */
      }

      & .filler {
        background-color: var(--color-1);
        height: 100%;
        width: 24px;
      }

      & .animated {
        background-color: var(--color-5);
        width: 54px;
        height: 100%;
      }

      & .pause {
        width: 102px;
      }

      & .pin {
        width: 64px;
      }

      & .minimize {
        width: 91px;
      }

      & .short {
        grid-area: short;
      }

      & .long {
        grid-area: long;
      }

      & .exit {
        grid-area: exit;
      }

      & .b-filler-1 {
        grid-area: b-filler-1;
      }

      & .b-animated {
        grid-area: b-animated;
      }

      & .b-filler-2 {
        grid-area: b-filler-2;
      }
    }
  }
}
