@layer layout {
  .wrapper {
    --border-radius: 48px;
    box-sizing: border-box;
    width: 747px;
    height: 226px;
    padding: 12px;
    border-radius: var(--border-radius);
    background-color: var(--color-bg);

    & .container {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      background-color: var(--color-7);
      display: grid;
      justify-items: center;
      grid-template-columns: 74px auto max-content auto 74px;
      grid-template-rows: 24px 24px minmax(64px, max-content) auto 24px;
      grid-template-areas:
        '. . top-panel . .'
        '. content content content .'
        'left-panel content content content right-panel'
        '. content content content .'
        '. . bottom-panel . .';

      & .content {
        grid-area: content;
        background-color: var(--color-bg);
        width: 100%;
        height: 100%;
        border-radius: calc(var(--border-radius) / 3);
        text-align: center;
      }

      & .panel {
        background-color: var(--color-bg);
        display: flex;
        gap: 4px;

        &.horizontal {
          width: min-content;
          padding: 0 4px;

          &.top {
            grid-area: top-panel;
          }

          &.bottom {
            grid-area: bottom-panel;
          }
        }

        &.vertical {
          width: 100%;
          height: max-content;
          padding: 4px 0;
          flex-direction: column;

          &.left {
            grid-area: left-panel;
          }

          &.right {
            grid-area: right-panel;
          }
        }
      }

      & .filler {
        background-color: var(--color-1);
        height: 100%;
        width: 24px;
      }

      & .wide-filler {
        background-color: var(--color-7);
        height: 100%;
        width: 32px;
      }

      & .animated {
        --block-width: 54px;
        --animation-block: calc(var(--block-width) / 3);
        --animation-width: calc(var(--block-width) - var(--animation-block));
        position: relative;
        width: var(--block-width);
        height: 100%;

        &:is(:before, :after) {
          content: '';
          position: absolute;
          left: 0;
        }

        &:before {
          top: 0;
          bottom: 50%;
          width: 100%;
          background-color: var(--color-5);
        }

        &:after {
          top: calc(50% + 4px);
          bottom: 0;
          width: var(--animation-block);
          background-color: var(--color-1);
          animation-duration: var(--animation-duration, 2s);
          animation-iteration-count: infinite;
          animation-timing-function: var(--timing-function, ease-in-out);
        }

        &.wide {
          --block-width: 102px;
          &:after {
            --timing-function: cubic-bezier(0.41, 0.08, 0.59, 0.91);
            --animation-duration: 5s;
          }
        }
      }

      & .button {
        width: 80px;
      }
    }
  }
}
