@import '@qxuken/flowtime-react';

body {
  background: transparent;
  border-radius: 3rem;
  margin: 0;
}

#app {
  -webkit-app-region: drag;
}
#app button:not([disabled]) {
  -webkit-app-region: no-drag;
}
