.layout-wrapper {
  --border-radius: 48px;
  box-sizing: border-box;
  width: 747px;
  height: 226px;
  padding: 12px;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);

  & .layout-container {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--color-7);
    display: grid;
    grid-template-columns: 74px auto 74px;
    grid-template-rows: 24px auto 24px;
    grid-template-areas: 'header header header' 'left content right' 'footer footer footer';

    & .layout-content {
      grid-area: content;
      background-color: var(--color-bg);
      width: 100%;
      height: 100%;
      border-radius: calc(var(--border-radius) / 3);
      text-align: center;
    }
  }
}
