@layer base {
  .bounce-x {
    animation-name: bounce-x;
  }
  .bounce-x_after:after {
    animation-name: bounce-x;
  }

  @keyframes bounce-x {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(var(--animation-width, 1rem));
    }
    100% {
      transform: translateX(0);
    }
  }

  .blink {
    animation-name: blink;
  }

  .blink-predefined {
    animation: blink 3s steps(1) infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
