@layer components {
  .content-container {
    --sides-top-padding: 28px;
    --sides-padding: 4px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'left content right';

    & .left {
      grid-area: left;
      padding: var(--sides-top-padding) var(--sides-padding) var(--sides-padding);
    }

    & .content {
      grid-area: content;
      align-self: center;
    }

    & .right {
      grid-area: right;
      justify-self: end;
      padding: var(--sides-top-padding) var(--sides-padding) var(--sides-padding);
    }
  }
}
