@layer base {
  .color-white {
    color: var(--color-white);
  }

  .color-1 {
    color: var(--color-1);
  }

  .color-2 {
    color: var(--color-2);
  }

  .color-3 {
    color: var(--color-3);
  }

  .color-4 {
    color: var(--color-4);
  }

  .color-5 {
    color: var(--color-5);
  }

  .color-6 {
    color: var(--color-6);
  }

  .color-7 {
    color: var(--color-7);
  }
}
