@import '@qxuken/flowtime-react';

body {
  background: transparent;
  margin: auto;
  border-radius: 4rem;
}

#app {
  -webkit-app-region: drag;
}
#app button:not([disabled]) {
  -webkit-app-region: no-drag;
}
