@layer components {
  .button {
    padding: 4px 4px;
    text-align: center;
    color: var(--color-white);
    border-style: none;
    cursor: pointer;

    &.with-counter {
      display: flex;
      align-items: center;
    }

    &.size-small {
      padding: 2px 4px;
      height: 24px;
    }

    &.size-default {
      height: 32px;
    }

    &.width-full {
      width: 100%;
    }

    &.width-fixed4 {
      width: 64px;
    }

    &.width-fixed5 {
      width: 80px;
    }

    & .counter {
      background: var(--color-bg);
      padding: 1px 4px;
      margin: 0 4px;
    }
  }
}
